
header {
  
    background-color:#E8DFCA ;
    top:0;
    padding:10px 0;
    position: fixed;
    width: 100%; 
    display: flex;
    justify-content: space-between; 
  }
  
  .box1{
    display: inline-block;
    padding: 10px 10px ; 
    color :#4F6F52 ;  
    text-align: center;
  }
  
  .box1-left{
    margin-left: 10px;
    
  }
  .box1-right{
    margin-right: 10px;
  
  
  }
  a:link, a:visited{
    color :#4F6F52 ;  
    text-decoration: none;
  }
  .underline:hover{
    text-decoration: underline;
  }
  .hamburger{
    display:none;
    border:none;
    background-color: #E8DFCA;
    color:#4F6F52;
  }

  @media (max-width: 600px) {
    .box1-right {
        display: none;
    }

    .hamburger {
        display: inline-block;
    }
}
  
  body{
      margin: 0;
      padding: 0;        
      background-color: #1A4D2E;
  }

  .side{
    display:flex;
    /* justify-content: center;
    align-items: center; */
  }
   
  .leftside{
    margin-left:100px;
    display:flex;

  }   
  
  .about{
    margin-top: 80px;
    margin-left:100px;
    color: #F5EFE6;
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    font-weight:10;

  }   
 
 
   .line{
    display: flex;
    align-items: center;

  }

  .line::after{
    content:"";
    height: 2px;
    background: #F5EFE6;
    margin-left:10px;
    width: 150px;
  }

  p{
    margin-left:20px;
    margin-top:5px;
    margin-bottom:0;

  }
 
  .uni{
    background-color: #F5EFE6;
    width: 500px;
    color:#F5EFE6;
    margin:40px;
    margin-top:10px;
    margin-bottom:0;
    display: flex;
    justify-content: space-between;
  }
  
  .pics{
    margin-left:50px;
    margin-right:50px;
  }